rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow get, create, delete: if true;
      
      match /peers/{document=**} {
      	allow read, write: if true;
      }
    }
  }
}